<h1><%= link_to "Questions Index", questions_path %></h1>

<p>Search for a question:</p>
<div class="search">
  <%= form_tag "/questions/", method: "GET" do %>
    <%= text_field_tag :q %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="article">
  <ol class="questions">
  <% @questions.each do |question| %>
    <li>
      <li>Survey ID: <%= question.survey_id %> || Question ID: <%= question.id %>  ||  <%= question.inquiry %></li>
      <ol class="answers">
        <% question.answers.each do |answer| %>
          <li><%= answer.content %> || ID: <%= answer.id %></li>
        <% end %>
      </ol>
    </li>
  <% end %>
  </ol>
</div>
<br>
<br>
<br>