<!DOCTYPE html>
<html>
<head>
  <title>MySurveyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'MySurveyApp', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container">

      <p class="footer_text"><a href="/home/about" class="footer_text">About This App</a> &nbsp/&nbsp  Designed by Matthew Vilhauer</p>

    </div>
  </footer>

</body>

</html>
